{% load static %}

<nav class="navbar navbar-expand px-4 py-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{% static 'img/logo.png' %}" alt="Logo">
        </a>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav ms-auto d-flex align-items-center">
                <li class="nav-item">
                    <span class="navbar-text pe-3">Ömer Dilaveroğlu</span>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" data-bs-toggle="dropdown" class="nav-icon pe-md-0">
                        <img src="{% static 'img/account.png' %}" class="avatar img-fluid" alt="Profil">
                    </a>
                    <div class="dropdown-menu dropdown-menu-end rounded">
                        <ul class="list-unstyled mb-0 px-2">
                            <li class="mb-2">
                                <button type="button" class="btn btn-primary btn-block w-100">Profil</button>
                            </li>
                            <li class="mb-2">
                                <button type="button" class="btn btn-primary btn-block w-100">Ayarlar</button>
                            </li>
                            <li class="mb-2">
                                <button type="button" class="btn btn-primary btn-block w-100">Bildirimler</button>
                            </li>
                            <li class="mb-2">
                                <button type="button" class="btn btn-primary btn-block w-100">Yardım</button>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li>
                                <button type="button" class="btn btn-danger btn-block w-100">Çıkış</button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
