{% load static %}

<aside id="sidebar">

    <div class="d-flex align-items-center">
        <button class="toggle-btn" type="button">
            <img src="{% static 'img/sidebar/menu_icon.png' %}" alt="company logo" class="side-bar-menu-icon">
        </button>
        <div class="sidebar-logo">
            <a href="#">Corpus Sigorta</a>
        </div>
    </div>

    <ul class="sidebar-nav">
        <li class="sidebar-item">
            <a href="{% url "home_page" %}" class="sidebar-link">
                <img src="{% static 'img/sidebar/home_icon.png' %}" alt="company logo" class="side-bar-menu-icon">                
                <i class="lni lni-user"></i>
                <span>Anasayfa</span>
            </a>
        </li>
        <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#auth" aria-expanded="false" aria-controls="auth">
                
                <img src="{% static 'img/sidebar/production_icon.png' %}" alt="company logo" class="side-bar-menu-icon">
                <span>Üretim Raporları</span>
            </a>
            <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <div class="sub-sidebar-item">
                        <a href={% url "home_page" %}#" class="sidebar-link">Üretim</a>
                </li>
                <li class="sidebar-item">
                    <div class="sub-sidebar-item">
                        <a href="{% url "hour_production" %}" class="sidebar-link">Saatlik Üretim</a>
                    </div>  
                </li>
            </ul>
        </li>
        {% comment %} <li class="sidebar-item">
            <a href="#" class="sidebar-link collapsed has-dropdown" data-bs-toggle="collapse"
                data-bs-target="#multi" aria-expanded="false" aria-controls="multi">
                <i class="lni lni-layout"></i>
                <span>Multi Level</span>
            </a>
            <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                <li class="sidebar-item">
                    <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                        data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                        Two Links
                    </a>
                    <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Link 1</a>
                        </li>
                        <li class="sidebar-item">
                            <a href="#" class="sidebar-link">Link 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li> {% endcomment %}

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <img src="{% static 'img/sidebar/setting_icon.png' %}" alt="company logo" class="side-bar-menu-icon">   
                <i class="lni lni-cog"></i>
                <span>Setting</span>
            </a>
        </li>
    </ul>
    <div class="sidebar-footer">
        <a href="#" class="sidebar-link">
            <img src="{% static 'img/sidebar/logout_icon.png' %}" alt="company logo" class="side-bar-menu-icon">   
            <i class="lni lni-exit"></i>
            <span>Logout</span>
        </a>
    </div>
</aside>